<h1>Create a New Article</h1>

<form method="POST" action="/articles">
    <p>Article Title:<input type="text" name="title"></p>
    <p>Aticle Content:<input type="text" name="content"></p>
    <input type="submit" value="submit">
</form>